---
Checks: 'clang-diagnostic-*,
clang-analyzer-*,
cppcoreguidelines-*,
modernize-*,
cert-*,
-cppcoreguidelines-pro-bounds-pointer-arithmetic,
-cppcoreguidelines-avoid-magic-numbers,
-cppcoreguidelines-pro-type-vararg,
-cppcoreguidelines-avoid-c-arrays,
-cppcoreguidelines-macro-usage,
-modernize-use-trailing-return-type,
-modernize-avoid-c-arrays,
-modernize-deprecated-headers,
-modernize-use-std-numbers,
-llvmlibc*'
HeaderFilterRegex: ''
