---
Checks: 'clang-diagnostic-*,
clang-analyzer-*,
cppcoreguidelines-*,
modernize-*,
cert-*,
-modernize-use-trailing-return-type,
-cppcoreguidelines-pro-bounds-pointer-arithmetic,
-cppcoreguidelines-avoid-magic-numbers,
-cppcoreguidelines-pro-type-vararg,
-modernize-deprecated-headers,
-cppcoreguidelines-macro-usage,
-llvmlibc*'
HeaderFilterRegex: ''
